.slide{
    // padding: 80px;
    // background: orange;
    position: relative;
    font-size: 16px;
    img{
        width: 100%;
        display: block;
    }

    .content__items{
        position: absolute;
        top: 0;
        color: white;
        // padding: 30px;
        padding: calc(2vw);
        h2{
            font-weight: 300;
            font-size: calc(1.3em + 1vw);
            margin: 0;
            padding: 0;
            text-overflow: ellipsis;
        }
        h3{
            // padding: calc(20em +1vw) 0;
            font-weight: 200;
            // font-size: 15px;
            font-size: calc(0.7em + 0.3vw);
            margin: 0;
        }
        a{
            text-decoration: none;
            color: white;
            display: inline-block;
            margin: calc(1.5vw) 0;
            font-weight: 300;
            border: 1px solid white;
            // padding: 10px 10px;
            padding: calc(0.5vw);
            border-radius: 30px;
            font-size: 14px;
            font-size: calc(0.6em + 0.5vw);

            // font-size: 14px;
        }
    }
}