.category{
    padding:2rem 1rem;
    .title__content{
        padding:  0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 700px) {
            flex-direction: column;
        }
        h2{
            font-weight: 300;
            font-size: 1.5rem;
            margin: 0;
        }

        a{
            // text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            font-weight: 300;
            font-size: 0.9rem;
            @media (max-width: 700px) {
                padding: 0.5rem 0;
            }
            svg{
                font-size: 1.5rem;
                padding: 0 5px;
            }
        }
    }

    .items{
        display: grid;
        grid-gap: 3rem;
        padding: 3rem 0;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-flow: row dense;
        .item__category{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // background-color: orange;
            img{
                width: 100%;
            }

            p{
                font-weight: 300;
                font-size: 0.9rem;
                padding: 1rem;
            }
        }
    }
}